@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap');

.btn{
    border: 1px solid red ;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "source+sans+pro";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.redbutton{
    color: black;
}

.redbutton:hover{
    color: red;
    color: black;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: red;
    z-index: -1;
    transition: 0.8s;
}

.redbutton::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.redbutton:hover::before{
    height: 180%;
}