@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500|Source+Sans+Pro&display=swap');

h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
}

h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
}

h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
}

h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
}

h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
}

h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
}

div {   
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
}

p {   
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
}

nav{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
}

form{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
}

button{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
}