@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap');

.nav{
  background: red;
  color: red;
}

.nav::-webkit-scrollbar-button{
  background: white;
  color: white;
}