body {
  background-color: lightred;
}

h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
}

div {   
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
}

p {   
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
}
